body{
  font-family: 'Roboto Mono', monospace;
}
#hero{
  background-image: linear-gradient(
    54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95)),url('../../../img/origin.jpg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    background-position: right;
    min-height: 600px;
    background-size: cover;
}
.hero-details{
  margin-top: 40px;
}
.profilePic{
  max-width: 90%;
  height: auto;
  top: 90px;
  position: relative;
  filter: grayscale(100%);
  border-radius: 5px;
}
.personal-profile__name {
  font-size: 44px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: left;
}

.personal-profile__work {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 40px;
  text-align: left;
}
.personal-profile__contacts{
  overflow: hidden;
}
.contact-list {
  font-size: 16px;
  line-height: 24px;
  font-family: Roboto Mono,monospace;
  float: left;
  text-align: left;
}
.contact-list dt {
  float: left;
  font-weight: 700;
  text-transform: uppercase;
}
.contact-list.contact-list__opacity-titles dt {
  opacity: .6;
}
.contact-list dd {
  padding-left: 100px;
  margin-bottom: 15px;
}
.contact-list dd a {
  color: #fff;
  text-decoration: none;
}

.personal-profile__social{
  text-align: left;
}
.personal-profile__social a {
  font-size: 24px;
  margin-right: 15px;
  opacity: .4;
  color: #fff!important;
  text-align: left;
}
.personal-profile__social a:hover {
  opacity: 1;
  transition: all .5s;
}
